<html ng-app="myApp">
	<head>
		<title>project brace</title>

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<script src="js/jQuery/jquery.min.js"></script>
		
		<script src="js/angular/angular.min.js"></script>
		
		<script src="js/bootstrap.min.js"></script>
	</head>
	<body ng-controller="ContactController">
		<div class="container">
			<h1 class="text-center">PROJECT BRACE (REPLUG BEE TEAM <img src="images/bee2.jpg">(IMM))</h1>
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<div class="alert alert-default navbar-brand search-box">
						<button class="btn btn-primary" ng-show="show_form" ng-click="formToggle()">Add user <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
					</div>
					<div class="col-md-7">
						<div class="alert alert-default input-group search-box">
							<span class="input-group-btn">
								<input type="text" class="form-control" placeholder="Search User." ng-model="search_query">
							</span>
						</div>
					</div>
				</div>
			</nav>
			<div class="col-md-6 col-md-offset-3">

				<div ng-include src="'templates/form.html'"></div>

				<div ng-include src="'templates/editForm.html'"></div>
			</div>
			<div class="clearfix"></div>

			<div class="table-responsive table-bordered">
				<table class="table table-hover">
				<tr>
				    <th>Name</th>
				    <th>Email</th>
				    <th>Phone</th>
				    <th>message</th>
				    <th>Action</th>
				    <th></th>
					<th></th>
				</tr>
					<tr ng-repeat="contact in contacts| filter:search_query">
				    <td>{{ contact.name }}</td>
				    <td>{{ contact.email }}</td>
				    <td>{{ contact.phone }}</td>
				    <td>{{ contact.message }}</td>
				    <td>
						<button class="btn btn-warning" ng-click="edit(contact.id)" title="Edit"><span class="glyphicon glyphicon-edit"></span></button>
					
						<button class="btn btn-danger" ng-click="delete(contact.id)" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
					</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
	</body>
</html>