<form class="form-horizontal alert alert-warning" id="editForm" hidden>
<h3 class="text-center">Update User</h3>
	<div class="form-group">
		<label for="Name">UserName:</label>
		<input type="text" class="form-control" placeholder="Enter UserName" ng-model="newcontact.name" >
	</div>
	
	<div class="form-group">
		<label for="Email">Email Address:</label>
		<input type="email" class="form-control" placeholder="Enter password" ng-model="newcontact.email" >
	</div>
	<div class="form-group">
		<label for="Address">phone:</label>
		<input type="text"  class="form-control" placeholder="Enter phone num" ng-model="newcontact.phone" autofocus required />		
	</div>
	
	<div class="form-group">
		<label for="Address">message:</label>
		<input type="text" class="form-control" placeholder="Enter message" ng-model="newcontact.message" >
	</div>
		<input type="hidden" ng-model="newcontact.id"/>
	<div class="form-group">
		<button class="btn btn-warning" ng-disabled="empList.$invalid" ng-click="saveContact()">Update</button>
	</div>
</form>
