<form class="form-horizontal alert alert-warning" name="user" id="empForm" hidden>
<h3 class="text-center">Insert User</h3>
	<input type="hidden" ng-model="newcontact.id" />
	<div class="form-group">
		<label for="Name">UserName:</label>
		<input type="text" name="name" class="form-control" placeholder="Enter UserName" ng-model="newcontact.name" value="" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="user.name.$invalid && user.name.$dirty">Name field is Empty!</p>
	</div>
	<div class="form-group">
		<label for="Email">Email Address:</label>
		<input type="email" name="email" class="form-control" placeholder="Enter email address" ng-model="newcontact.email" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="user.email.$invalid && user.email.$dirty">Invalid Email!</p>
	</div>
	
	<div class="form-group">
		<label for="phone">phone:</label>
		<input type="text" name="address" class="form-control" placeholder="Enter phone number" ng-model="newcontact.phone" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="user.phone.$invalid && user.phone.$dirty">message field is Empty!</p>
	</div>
	<div class="form-group">
		<label for="message">message:</label>
		<input type="text"  class="form-control" placeholder="Enter message" ng-model="newcontact.message" autofocus required />		
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="user.message.$invalid && user.message.$dirty">Address field is Empty!</p>
	</div>

	<div class="form-group">
		<button class="btn btn-warning" ng-disabled="user.$invalid" ng-click="saveContact()">Add Into Database</button>
	</div>
</form>